#create_store_form input {
  width: 100%;
  margin: 0;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}

#create_store_form select {
  width: 100%;
  margin: 0;
  padding: 10px 5px 10px 5px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}
.address-style{
  display: flex;
}
@media screen and (max-width: 800px) {

  .address-style{
    display: grid;
  }

}