.currency__exchange {
  display: block;
  border-radius: 18px;
  box-shadow: 0px 0px 8px 0.5px #d4d4d4;

  border: 1px solid lightgray;
  width: 55vw;
  margin: auto;
  padding: 20px;
}
.converter__inputs {
  border: 1px solid darkgray;
  border-radius: 10px;
  align-items: center;
  display: flex;
}
.rate__converter select {
  width: 50px;
  height: 35px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.rate__converter {
  margin: auto;
  width: 50vw;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .converter__inputs {
    max-width: 220px;
  }
}
@media screen and (max-width: 700px) {
  .currency__exchange {
    width: 85vw;
  }
  .rate__converter {
    display: block;
  }

  .converter__inputs {
    width: auto;
    max-width: none;
  }
  .rate__converter select {
    width: 40px;
    font-size: 0.7rem;
  }

  .debit__card input {
    width: 10px;
    height: 10px;
  }
  .debit__card button {
    width: 120px;
  }
  .debit__card button div img {
    width: 60px;
    height: 20px;
  }
}

.debit__card {
  display: flex;
  justify-content: center;
}

.debit__card button {
  font-size: 12px;
  font-weight: 300;
  margin: 10px;
  display: flex;
  align-items: center;
}

.debit__card button div {
  line-height: 0;
}

.debit__card button img {
  width: 80px;
  height: 30px;
}
.debit__card button input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}


@media screen and (max-width: 700px) {

  .debit__card {
    display: grid;
    justify-content: center;
  }
}